{% extends 'layout.html' %}

{% block body %}

<div class="container-fluid" style="padding-left:22vw;padding-right:22vw;">
	<p style="text-align: left;">This project takes Hotel Booking data in csv format, cleanses it, analyses it, perform EDA on it, and runs it through 
		5 different kinds of predictive models for different kinds of results.<br><br>
		The results might take a moment to load since the model runs when you search for it. Please be patient.<br>
		To see the desired results, enter the search-string and search for it: 
	</p>
  <table class="center" border="1|0">
	<tbody><tr>
	  <th>Purpose</th>  
	  <th>Model Used</th>
	  <th>Search String</th>
	</tr>
	<tr>
	  <td>Exploratory Data Analysis</td>
	  <td>N/A</td>
	  <th>EDA</th>
	</tr>
	<tr>
	  <td>Cancellations Prediction</td>
	  <td>K-Nearest Neighbors      </td>
	  <th>KNN</th>
	</tr>
	<tr>
	  <td>Days in Waitlist</td>
	  <td>Logistic Regression</td>
	  <th>LR</th>
	</tr>
	<tr>
	  <td>Cancellations After Waitlist     </td>
	  <td>Naïve Bayes</td>
	  <th>NB</th>
	</tr>
	<tr>
	  <td>Types of Customers</td>
	  <td>Decision Tree</td>
	  <th>DT</th>
	</tr>
	<tr>
	  <td>Monthly popularity</td>
	  <td>Adaboost</td>
	  <th>ADA</th>
	</tr>
  </tbody></table>
  <form method="POST">
    <div class="input-group mb-3 w-50 mx-auto" style="padding-top:5vh;">
      <div style="position:relative;">
        <input name="sname" id="sname" type="text" class="form-control" placeholder="Enter Search String" aria-label="Search String" aria-describedby="button-addon2">
      </div>
      <div class="input-group-append">
        <input class="btn btn-outline-success my-2 my-sm-0" style="height:min-content;" type="submit" value="Search">
      </div>
    </div>
  </form>
</div>

<script>
	function autocomplete(inp, arr) {

		var currentFocus;

		inp.addEventListener("input", function(e) {
				var a, b, i, val = this.value;
				closeAllLists();
				if (!val) { return false;}
				currentFocus = -1;
				a = document.createElement("DIV");
				a.setAttribute("id", this.id + "autocomplete-list");
				a.setAttribute("class", "autocomplete-items");
				this.parentNode.appendChild(a);

				for (i = 0; i < arr.length; i++) {

					if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {

						b = document.createElement("DIV");
						b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
						b.innerHTML += arr[i].substr(val.length);
						b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";

						b.addEventListener("click", function(e) {
								inp.value = this.getElementsByTagName("input")[0].value;
								closeAllLists();
						});
						a.appendChild(b);
					}
				}
		});

		inp.addEventListener("keydown", function(e) {
				var x = document.getElementById(this.id + "autocomplete-list");
				if (x) x = x.getElementsByTagName("div");
				if (e.keyCode == 40) {
					currentFocus++;
					addActive(x);
				} else if (e.keyCode == 38) { //up
					currentFocus--;
					addActive(x);
				} else if (e.keyCode == 13) {
					e.preventDefault();
					if (currentFocus > -1) {
						if (x) x[currentFocus].click();
					}
				}
		});

		function addActive(x) {
			if (!x) return false;
			removeActive(x);
			if (currentFocus >= x.length) currentFocus = 0;
			if (currentFocus < 0) currentFocus = (x.length - 1);

			x[currentFocus].classList.add("autocomplete-active");
		}

		function removeActive(x) {
			for (var i = 0; i < x.length; i++) {
				x[i].classList.remove("autocomplete-active");
			}
		}

		function closeAllLists(elmnt) {
			var x = document.getElementsByClassName("autocomplete-items");
			for (var i = 0; i < x.length; i++) {
				if (elmnt != x[i] && elmnt != inp) {
					x[i].parentNode.removeChild(x[i]);
				}
			}
		}

		document.addEventListener("click", function (e) {
				closeAllLists(e.target);
		});
	}

	var stocklist = ['EDA', 'KNN', 'LR', 'NB', 'DT', 'ADA']

	autocomplete(document.getElementById("sname"), stocklist);
</script>

{% endblock %}
